@import "resetpro.css";

* {
    box-sizing: border-box;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }

  .verde {
    color:#28A744 !important;
    font-weight: bold;
  }


  
  .header {
    background-color: #353A40;
    color: #ffffff;
  }
  
  .logo h1{
  }
  
  .logo img {
  }
  
  .logo span{
  }

  .menu ul {
    list-style-type: none;
    margin-bottom: 1em;
    padding: 0;
    font-size: 0.8em;
  }
  
  .menu li {
    padding: 5px;
    margin-bottom: 0;
    background-color: #353A40;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    text-align: center;
  }
  
  .menu li:hover {
    background-color: #0099cc;
  }
  
  .aside {
    background-color: #33b5e5;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  
  .footer {
    background-color: #0099cc;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
  }
  
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
    
  @media only screen and (max-width: 540px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    .header {
        position:sticky;
        height: 4em;
        background-color: #353A40 !important;
    }
    .logo h1{
      float: left;
      height: 100%;
      padding-bottom: 0.8em;
    }
    
    .logo p{
        display: block;
        width: 50%;
        height: 5em;
        font-weight: bold;
        text-align: center;
        float: left;
        font-size: 0.9em;
    }
    .logo p span {
        line-height: 4.6em;
    }

    .logo img {
        max-width: 55%;
        margin: auto;
      }
      
      .menu a {
      font-size: 0.8em;
      padding: 5px;
      margin-bottom: 0;
      background-color: #353A40;
      color: #ffffff;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      text-align: center;
    }
    
    .menu a:hover {
      background-color: #4a4b4d;
    }
    .verde:hover {
      color:#FFC900 !important;
    }

    .contenedor-imagen {
      position: relative;
      background-color: #353A40;
    }
    
    .contenedor-imagen:before {
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0.3;
      background-image: url('../img/ba1.jpg');
      background-repeat: no-repeat;
      background-position: 100% 0;
      background-size: cover;
    }
    
    .contenedor-texto {
      position: relative;
      color: #fff;
      padding: 1.5em;
      font-size: 0.8em;
      text-align: center;
    }
    .contenedor-texto h1 {
      font-size: 1.5em;
      margin-bottom: 0.5em;
    }

    .boton{
      border-radius: 0.5em;
      padding: 0.5em 0 0.5em 0;
      width: 40%;
      margin: 1em auto 1em auto;
    }
    .bt-transparente {
      border: 0.1em solid #fff;
    }
    .bt-transparente:hover {
      background-color: #e0e0e0af;
      font-weight: bold;
      color: #181818;
    }
    .bt-verde {
      background-color: #28A744;
      margin-bottom: 0.5em;
    }
    .bt-verde:hover {
      background-color: #FFC900;
      color: #636363;
      font-weight: bold;
    }

    .conoce {
      text-transform: uppercase;
      text-align: center;
      font-size: 0.7em;
      margin-top: 0.5em;
    }
    .oradores {
      display: block;
      font-size: 2em;
      font-weight: bold;
    }

    .contenedor-orador{
      width: 70%;
      margin: 1em auto;
      
    }

    .orador-imagen img{
      border-top-left-radius: 0.3em;
      border-top-right-radius: 0.3em;
    }

    .orador-abajo {
      border: #4c4c4e 1px solid;
      border-bottom-left-radius: 0.3em;
      border-bottom-right-radius: 0.3em;
    }
    .orador-texto {
      margin: 2em;
    }

    .badge {
      font-size: 0.8em;
      border-radius: 0.3em;
      padding: 0.3em 0.5em;
      margin: 1em auto 1em auto;
      font-weight: bold;
    } 
    .bg-primary {
      background-color: #FFC900;
    }
    .bg-secondary {
      color: #fff;
      background-color: #04AA6D;
    }
    .orador-texto h3{
      font-size: 1.3em;
      margin: 0.3em 0 0.8em 0;
      font-weight: bold;
    }
    .orador-texto p{
      font-size: 0.9em;
    }
  }

  @media only screen and (min-width: 720px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
  @media only screen and (min-width: 960px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 1140px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 1400px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }