@import "resetpro.css";

* {
    box-sizing: border-box;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }

  .header {
    background-color: var(--color-gris);
    color: var(--color-blanco);
  }

  .menu ul {
    list-style-type: none;
    margin-bottom: 1em;
    padding: 0;
    font-size: 0.8em;
  }
  
  .menu li {
    padding: 5px;
    margin-bottom: 0;
    background-color: var(--color-gris);
    color: var(--color-blanco);
    text-align: center;
  }
  
  .menu a:first-child {
    font-weight: bold;
  }

  .menu a:last-child {
    color: var(--color-verde) !important;
    font-weight: bold;
  }
    
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }



@media only screen and (max-width: 320px) {
        
  .header {
      position:sticky;
      height: 4em;
      background-color: var(--color-gris) !important;
  }
  .logo h1{
    float: left;
    height: 100%;
    padding-bottom: 0.8em;
  }
  
  .logo p{
      display: block;
      height: 5em;
      font-weight: bold;
      text-align: center;
      float: left;
      font-size: 0.8em !important;
  }
  .logo p span {
      font-size: 1em !important;
  }

  .logo img {
      height: 5em;
      width: 50% !important;
      margin: auto;
      background-color: #04AA6D !important;
    }
    
    .menu a {
    font-size: 0.8em !important;
    padding: 5px;
    margin-bottom: 0;
    background-color: var(--color-gris);
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    text-align: center;
  }
  
  .menu a:hover {
    background-color: var(--color-gris-claro);
  }
  .verde:hover {
    color:#FFC900 !important;
  }

  .contenedor-imagen {
    position: relative;
    background-color: #353A40;
  }
  
  .contenedor-imagen:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-image: url('../img/ba1.jpg');
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: cover;
  }
  
  .contenedor-texto {
    position: relative;
    color: #fff;
    padding: 1.5em;
    font-size: 0.8em;
    text-align: center;
  }
  .contenedor-texto h1 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }

  .boton{
    border-radius: 0.5em;
    padding: 0.5em 0 0.5em 0;
    width: 60% !important;
    margin: 1em auto 1em auto;
  }
  .bt-transparente {
    border: 0.1em solid #fff;
  }
  .bt-transparente:hover {
    background-color: var(--color-primario);
    color: var(--color-secundario);
    font-weight: bold;
  }
  .bt-verde {
    background-color: #28A744;
    margin-bottom: 0.5em;
  }
  .bt-verde:hover {
    background-color: #FFC900;
    color: #636363;
    font-weight: bold;
  }

  .conoce {
    text-transform: uppercase;
    text-align: center;
    font-size: 0.7em;
    margin-top: 0.5em;
  }
  .oradores {
    display: block;
    font-size: 2em;
    font-weight: bold;
  }

  .contenedor-orador{
    width: 70%;
    margin: 1em auto;
    
  }

  .orador-imagen img{
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
  }

  .orador-abajo {
    border: #4c4c4e 1px solid;
    border-bottom-left-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
  }
  .orador-texto {
    margin: 2em;
  }

  .orador-texto h3{
    font-size: 1.3em;
    margin: 0.3em 0 0.8em 0;
    font-weight: bold;
  }
  .orador-texto p{
    font-size: 0.9em;
  }

  .badge {
    font-size: 0.8em;
    border-radius: 0.3em;
    padding: 0.3em 0.5em;
    margin: 1em auto 1em auto;
    font-weight: bold;
  } 
  .bg-javascript {
    background-color: #FFC900;
  }
  .bg-react {
    color: #fff;
    background-color: #04AA6D;
  }
  .bg-negocios {
    color: #fff;
    background-color: #687379;
  }
  .bg-startups {
    color: #fff;
    background-color: #B23A44;
  }

  .honolulu-imagen{
    margin: auto;
  }
  .honolulu-texto{
    background-color: #353A40;
  }
  .honolulu-texto h3{
    color: #fff;
    font-weight: bold;
    padding: 2em 0 0 3em;
  }
  .honolulu-texto p{
    font-size: 0.9em;
    text-align: justify;
    color: #fff;
    padding: 2em 3em;
  }
  .bt-conoce-mas{
    display: block;
    font-size: 0.9em;
    text-align: center;
    margin: 0 3em 2em 3em;
    width: 25%;
    color: #fff;
    border: #fff 1px solid;
  }
  .bt-conoce-mas:hover {
    background-color: var(--color-primario);
    color: var(--color-secundario);
    font-weight: bold;
  }

  .contenedor-formulario{
    margin:1.5em 2em;
  }
  .contenedor-formulario p{
    font-size: 0.9em;
  }

  #form-orador {
    margin-top: 1em;
  }
  #form-orador input, textarea{
    width: 100%;
    border: #868789 1px solid;
    border-radius: 0.3em;
    padding: 0.5em;
  }
  #form-orador input{
    margin-bottom: 0.7em;
  }
  #form-orador textarea{
    margin-bottom: 0.1em;
  }
  #form-orador input:hover, textarea:hover{
    box-shadow: .3em .3em .9em .3em #AFAFAF;
  }
  
  #form-orador input:focus, textarea:focus{
    border-color: #868789 !important;
    box-shadow: inset 0 0 .2em .2em rgb(220, 222, 121);
  }

  #form-orador p{
    color: #868789;
    font-size: 0.7em;
    margin-bottom: 1.2em;
  }
  #form-orador input:last-child{
    background-color: #96C93E;
  }

  .nav-footer{
    text-align: center;
    font-size: 0.8em;
    color: #fff;
    background-image: linear-gradient(to right, #1C3643 , #1E5371);
    padding: 2em 0;
  }

  .nav-footer a {
    padding: 5px;
    margin-bottom: 0;
  }
  .nav-footer a:hover {
    color:#33b5e5;
    padding: 5px;
    margin-bottom: 0;
    background-image: linear-gradient(to right, #1E5371, #1C3643);
  }
}

@media only screen and (max-width: 575px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    .header {
        position:sticky;
        height: 4em;
        background-color: var(--color-gris) !important;
    }
    .logo h1{
      float: left;
      height: 100%;
      padding-bottom: 0.8em;
    }
    
    .logo p{
        display: block;
        width: 50%;
        height: 5em;
        font-weight: bold;
        text-align: center;
        float: left;
        font-size: 0.9em;
    }
    .logo p span {
        line-height: 4.6em;
    }

    .logo img {
        max-width: 50%;
        min-width: 45%;
        margin: auto;
      }
      
      .menu a {
      font-size: 0.8em;
      padding: 5px;
      margin-bottom: 0;
      background-color: var(--color-gris);
      color: #ffffff;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      text-align: center;
    }
    
    .menu a:hover {
      background-color: var(--color-gris-claro);
    }
    .verde:hover {
      color:#FFC900 !important;
    }

    .contenedor-imagen {
      position: relative;
      background-color: #353A40;
    }
    
    .contenedor-imagen:before {
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0.3;
      background-image: url('../img/ba1.jpg');
      background-repeat: no-repeat;
      background-position: 100% 0;
      background-size: cover;
    }
    
    .contenedor-texto {
      position: relative;
      color: #fff;
      padding: 1.5em;
      font-size: 0.8em;
      text-align: center;
    }
    .contenedor-texto h1 {
      font-size: 1.5em;
      margin-bottom: 0.5em;
    }

    .boton{
      border-radius: 0.5em;
      padding: 0.5em 0 0.5em 0;
      width: 40%;
      margin: 1em auto 1em auto;
    }
    .bt-transparente {
      border: 0.1em solid #fff;
    }
    .bt-transparente:hover {
      background-color: var(--color-primario);
      color: var(--color-secundario);
      font-weight: bold;
    }
    .bt-verde {
      background-color: #28A744;
      margin-bottom: 0.5em;
    }
    .bt-verde:hover {
      background-color: #FFC900;
      color: #636363;
      font-weight: bold;
    }

    .conoce {
      text-transform: uppercase;
      text-align: center;
      font-size: 0.7em;
      margin-top: 0.5em;
    }
    .oradores {
      display: block;
      font-size: 2em;
      font-weight: bold;
    }

    .contenedor-orador{
      width: 70%;
      margin: 1em auto;
      
    }

    .orador-imagen img{
      border-top-left-radius: 0.3em;
      border-top-right-radius: 0.3em;
    }

    .orador-abajo {
      border: #4c4c4e 1px solid;
      border-bottom-left-radius: 0.3em;
      border-bottom-right-radius: 0.3em;
    }
    .orador-texto {
      margin: 2em;
    }

    .orador-texto h3{
      font-size: 1.3em;
      margin: 0.3em 0 0.8em 0;
      font-weight: bold;
    }
    .orador-texto p{
      font-size: 0.9em;
    }

    .badge {
      font-size: 0.8em;
      border-radius: 0.3em;
      padding: 0.3em 0.5em;
      margin: 1em auto 1em auto;
      font-weight: bold;
    } 
    .bg-javascript {
      background-color: #FFC900;
    }
    .bg-react {
      color: #fff;
      background-color: #04AA6D;
    }
    .bg-negocios {
      color: #fff;
      background-color: #687379;
    }
    .bg-startups {
      color: #fff;
      background-color: #B23A44;
    }

    .honolulu-imagen{
      margin: auto;
    }
    .honolulu-texto{
      background-color: #353A40;
    }
    .honolulu-texto h3{
      color: #fff;
      font-weight: bold;
      padding: 2em 0 0 3em;
    }
    .honolulu-texto p{
      font-size: 0.9em;
      text-align: justify;
      color: #fff;
      padding: 2em 3em;
    }
    .bt-conoce-mas{
      display: block;
      font-size: 0.9em;
      text-align: center;
      margin: 0 3em 2em 3em;
      width: 25%;
      color: #fff;
      border: #fff 1px solid;
    }
    .bt-conoce-mas:hover {
      background-color: var(--color-primario);
      color: var(--color-secundario);
      font-weight: bold;
    }

    .contenedor-formulario{
      margin:1.5em 2em;
    }
    .contenedor-formulario p{
      font-size: 0.9em;
    }

    #form-orador {
      margin-top: 1em;
    }
    #form-orador input, textarea{
      width: 100%;
      border: #868789 1px solid;
      border-radius: 0.3em;
      padding: 0.5em;
    }
    #form-orador input{
      margin-bottom: 0.7em;
    }
    #form-orador textarea{
      margin-bottom: 0.1em;
    }
    #form-orador input:hover, textarea:hover{
      box-shadow: .3em .3em .9em .3em #AFAFAF;
    }
    
    #form-orador input:focus, textarea:focus{
      border-color: #868789 !important;
      box-shadow: inset 0 0 .2em .2em rgb(220, 222, 121);
    }

    #form-orador p{
      color: #868789;
      font-size: 0.7em;
      margin-bottom: 1.2em;
    }
    #form-orador input:last-child{
      background-color: #96C93E;
    }

    .nav-footer{
      text-align: center;
      font-size: 0.8em;
      color: #fff;
      background-image: linear-gradient(to right, #1C3643 , #1E5371);
      padding: 2em 0;
    }

    .nav-footer a {
      padding: 5px;
      margin-bottom: 0;
    }
    .nav-footer a:hover {
      color:#33b5e5;
      padding: 5px;
      margin-bottom: 0;
      background-image: linear-gradient(to right, #1E5371, #1C3643);
    }
}

  @media only screen and (max-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

  .header {
    position:sticky;
    height: 4em;
    background-color: var(--color-gris) !important;
  }
  .logo h1 {
    float: left;
    height: 100%;
    padding-bottom: 0.8em;
  }
  
  .logo p {
      display: block;
      width: 50%;
      height: 5em;
      font-weight: bold;
      text-align: center;
      float: left;
      font-size: 1.2em;
  }
  .logo p>span {
      line-height: 4.6em;
  }

  .logo img {
      max-width: 38%;
      margin: auto;
    }

  .menu a {
    font-size: 1em;
    padding: 5px;
    margin-bottom: 0;
    background-color: var(--color-gris);
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    text-align: center;
  }
  
  .menu a:hover {
    background-color: var(--color-gris-claro);
  }
  .verde:hover {
    color:var(--color-amarillo) !important;
  }

  .contenedor-imagen {
    position: relative;
    background-color: var(--color-gris);
  }
  
  .contenedor-imagen:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-image: url('../img/ba1.jpg');
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: cover;
  }
  
  .contenedor-texto {
    position: relative;
    color: var(--color-blanco);
    padding: 1.5em;
    text-align: center;
  }
  .contenedor-texto h1 {
    font-size: 1.3em;
    margin-bottom: 0.5em;
  }
  .contenedor-texto p {
    font-size: 0.9em;
  }

  .boton{
    border-radius: 0.5em;
    padding: 0.5em 0 0.5em 0;
    width: 35%;
    margin: 1em auto 1em auto;
  }
  .bt-transparente {
    border: 0.1em solid #fff;
  }
  .bt-transparente:hover {
    background-color: var(--color-primario);
    color: var(--color-secundario);
    font-weight: bold;
  }
  .bt-verde {
    background-color: #28A744;
    margin-bottom: 0.5em;
  }
  .bt-verde:hover {
    background-color: #FFC900;
    color: #636363;
    font-weight: bold;
  }

  .conoce {
    text-transform: uppercase;
    text-align: center;
    font-size: 0.7em;
    margin-top: 0.5em;
  }
  .oradores {
    display: block;
    font-size: 2em;
    font-weight: bold;
  }

  .contenedor-orador{
    width: 45%;
    margin: 1em auto;
    
  }

  .orador-imagen img{
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
  }

  .orador-abajo {
    border: #4c4c4e 1px solid;
    border-bottom-left-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
  }
  .orador-texto {
    margin: 2em;
  }

  .orador-texto h3{
    font-size: 1.3em;
    margin: 0.3em 0 0.8em 0;
    font-weight: bold;
  }
  .orador-texto p{
    font-size: 0.9em;
  }

  .badge {
    font-size: 0.8em;
    border-radius: 0.3em;
    padding: 0.3em 0.5em;
    margin: 1em auto 1em auto;
    font-weight: bold;
  } 
  .bg-javascript {
    background-color: #FFC900;
  }
  .bg-react {
    color: #fff;
    background-color: #04AA6D;
  }
  .bg-negocios {
    color: #fff;
    background-color: #687379;
  }
  .bg-startups {
    color: #fff;
    background-color: #B23A44;
  }

  .honolulu-imagen{
    margin: auto;
  }
  .honolulu-texto{
    background-color: #353A40;
  }
  .honolulu-texto h3{
    color: #fff;
    font-weight: bold;
    padding: 2em 0 0 3em;
  }
  .honolulu-texto p{
    font-size: 0.9em;
    text-align: justify;
    color: #fff;
    padding: 2em 3em;
  }
  .bt-conoce-mas{
    display: block;
    font-size: 0.9em;
    text-align: center;
    margin: 0 3em 2em 3em;
    width: 25%;
    color: #fff;
    border: #fff 1px solid;
  }
  .bt-conoce-mas:hover {
    background-color: var(--color-primario);
    color: var(--color-secundario);
    font-weight: bold;
  }

  .contenedor-formulario{
    margin:1.5em 2em;
  }
  .contenedor-formulario p{
    font-size: 0.9em;
  }

  #form-orador {
    margin-top: 1em;
  }
  #form-orador input, textarea{
    width: 100%;
    border: #868789 1px solid;
    border-radius: 0.3em;
    padding: 0.5em;
  }
  #form-orador input{
    margin-bottom: 0.7em;
  }
  #form-orador textarea{
    margin-bottom: 0.1em;
  }
  #form-orador input:hover, textarea:hover{
    box-shadow: .3em .3em .9em .3em #AFAFAF;
  }
  
  #form-orador input:focus, textarea:focus{
    border-color: #868789 !important;
    box-shadow: inset 0 0 .2em .2em rgb(220, 222, 121);
  }

  #form-orador p{
    color: #868789;
    font-size: 0.7em;
    margin-bottom: 1.2em;
  }
  #form-orador input:last-child{
    background-color: #96C93E;
  }

  .nav-footer{
    text-align: center;
    font-size: 0.8em;
    color: #fff;
    background-image: linear-gradient(to right, #1C3643 , #1E5371);
    padding: 2em 0;
  }

  .nav-footer a {
    padding: 5px;
    margin-bottom: 0;
  }
  .nav-footer a:hover {
    color:#33b5e5;
    padding: 5px;
    margin-bottom: 0;
    background-image: linear-gradient(to right, #1E5371, #1C3643);
  }

  }
  @media only screen and (min-width: 992px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 1200px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 1400px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }